@use "../../style/main.scss";


.portfolio {

    background-color: #f3f3f3;

    .space {
        height: 3rem;
    }

    #portfolio-title {
        
        padding:0 0 2rem 1rem;
      
        h2 {
            margin-bottom:0;
            //padding-bottom:1rem;
            padding: 0 3rem 0 3rem;
        }

        p{
            padding-left: 3rem;
        }

        .portfolio-img {
            margin-top:2rem;
            display:flex;
            justify-content:center;

            img{
                width:8%;
            }
        }
    }   

    .portfolio-list{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin:1rem;
        gap:10px;
        background-color: main.$background-color;
        padding:1rem;
        border: black 2px solid;
    }
}

