@use "../../style/main.scss";

.e404 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .e404-img {
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .e404-text {
    color: main.$second-background-color;

    h2 {
      font-size: 2rem;
    }
  }
}
  