@use "../../style/main.scss";

#introducing {
    margin:1rem;
    margin-top:3rem;

    .introducing-img {
        display:flex;
        justify-content:center;
        
        img {
            width:8%;
        }
    }

    .introducing-text{
        padding-left: 3rem;
        padding-right:3rem;;
    }
}


